.cont{
    padding: 50px;
    height: 50vw;
    width: 100%;
    display: flex;
    background-color: var(--white);
}
.cont>div{
    height: 100%;
    width: 50%;
    display: grid;
    gap: 25px;
    align-content: center;
}

.cont h2{
    font-size: 1em;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.cont h1{
    font-size: 4em;
    font-weight: 700;
    line-height: 55px;
    font-family: "Montserrat", sans-serif;
}

.cont h3{
    font-size: 0.875em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.cont a{
    height: 50px;
    width: 150px;
    border: 3px solid transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    background-color: var(--green);
    color: #fff;
    transition: all .4s linear;
}

.cont a:hover{
    color: var(--green);
    border-color: var(--green);
    background-color: transparent;
}

.cont>img{
    height: 100%;
    width: 50%;
}

@media (max-width: 900px){
    .cont h1{
        font-size: 2em;
        line-height: normal;
    }

    .cont>div{
        gap: 10px;
    }

    .cont a{
        height: 30px;
        font-weight: 500;
    }
}