.cont{
    height: 70px;
    width: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) / 70px 2fr 50px 1fr;
    grid-template-areas: 
    "img info count price"
    "img id count price"
    ;
    align-items: center;
}

.cont>h5{
    font-size: 1em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.cont>img{
    height: 100%;
    width: 100%;
    grid-area: img;
}

.cont>h4{
    font-size: 1em;
}

.title{
    grid-area: info;
}

.id{
    grid-area: id;
}

.count{
    grid-area: count;
    text-align: center;
    color: #b1b1b1;
}

.price{
    grid-area: price;
    text-align: center;
    color: var(--green);
    text-align: right;
}

@media(max-width: 500px){
    .cont>h4:last-child{
        font-size: 0.75em;
    }
}