:root{
    --green: #46A358;
    --white: #f4f4f4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    align-content: flex-start;
    gap: 30px;
}

header{
    height: 75px;
    width: 100%;
    border-bottom: 2px solid #c0c0c0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}

main{
    display: grid;
    gap: 100px;
    grid-template-columns: 100%;
}

a{
    text-decoration: none;
}

div{
    cursor: default;
}

button{
    border: none;
    outline: none;
    background-color: transparent;
}

input{
    border: none;
    outline: none;
}

h4{
    font-size: 1.125em;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: #000;
}

footer{
    display: grid;
    align-content: flex-start;
}